// breakpoint
@mixin breakpoint($point) {
	@if $point == xxlarge {
    	@media (min-width: 1440px) { @content ; }
  	}
  	@else if $point == xlarge {
    	@media (min-width: 1200px) { @content ; }
  	}
    @else if $point == large {
     	@media (min-width: 1024px) { @content ; }
  	}
  	@else if $point == medium {
     	@media (min-width: 640px)  { @content ; }
  	}
  	@else if $point == small {
     	@media (min-width: 320px)  { @content ; }
  	}
  	@else if $point == xsmall {
     	@media (min-width: 0)  { @content ; }
	}
}


// clearfix
@mixin clearit {
	&:before,
    &:after {
    	content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
	zoom: 1;
}


// align middle
@mixin align_middle {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}


// placeholder color
@mixin placeholder($color) {
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: $color;
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: $color;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: $color;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $color;
	}
}