@import url("https://use.typekit.net/ynl3jck.css");

$font_nimbus: "nimbus-sans", sans-serif;
$font_raleway: "raleway", sans-serif;
$font_roboto: "roboto", sans-serif;


h2 {
	font-family:  $font_raleway;
}

p {
	font-family: $font_nimbus;
}

[type="text"], [type="email"], textarea, label, legend {
	font-family: $font_nimbus
}