@import 'mixins';
@import 'typography';
@import 'variables';



@mixin styling {
/* ========== START WEBSITE STYLES ==========  */


#main-header {
	background-color: $white;
	width: 100%;
	padding-top: 22px;
	padding-bottom: 21px;
	border-bottom: 1px solid #f2f2f2;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000;
	
	a {
		font-family: $font_raleway;
		font-size: 18px;
		font-weight: 400;
		color: $gray;
		line-height: 1;
		text-transform: uppercase;
		display: block;
	}
	
	#main-navigation {
		background-color: $green;
		margin: 0;
		padding: 0;
		padding-left: 60px;
		display: none;
		list-style-type: none;
		position: absolute;
		left: 0;
		top: 0;
		
		&.is-active {
			display: inline-block;
			
			&+ #trigger-navigation {
				&:before, &:after {
					opacity: 0;
				}
				
				span {
					border-top-color: rgba($white, 1);
					border-bottom-color: rgba($white, 1);
					
					&:first-child {
						transform: rotate(-45deg);
					}
					
					&:last-child {
						transform: rotate(45deg);
					}
				}
			}
		}
		
		li {
			float: left;
			
			a {
				color: $white;
				line-height: 80px;
				background-color: $green;
				height: 80px;
				padding-left: 20px;
				padding-right: 20px;
				display: block;
			}
		}
	}
	
	#trigger-navigation {
		width: 20px;
		height: 18px;
		display: block;
		position: relative;
		
		&:before, &:after {
			content: "";
			height: 0;
			border-bottom: 4px solid rgba($green, 1);
			position: absolute;
			left: 0;
			opacity: 1;
		}
		
		&:before {
			width: 20px;
			top: 0px;
		}
		
		&:after {
			width: 14px;
			top: 14px;
		}
		
		span {
			width: 20px;
			height: 0;
			display: block;
			border-top: 2px solid rgba($green, 1);
			border-bottom: 2px solid rgba($green, 1);
			position: absolute;
			left: 0;
			top: 7px;
			transform-origin: center center;
			transform: rotate(0deg);
			transition-delay: 0;
			transition-duration: 0.25s;
			transition-property: all;
		}
	}
}



#main-footer {
	margin-top: 128px;
	margin-bottom: 42px;
	padding-top: 28px;
	border-top: 1px solid $gray;
	
	.footer-navigation, .social-media-navigation {
		margin: 0;
		padding: 0;
		list-style-type: none;
		
		li {
			a {
				font-family: $font_nimbus;
				font-size: 14px;
				font-weight: 400;
				color: $gray;
				line-height: 1.5;
				display: block;
			}
		}
	}
	
	.social-media-navigation {
		i {
			width: 20px;
		}
	}
	
	form {
		label {
			font-family: $font_nimbus;
			font-size: 14px;
			color: $gray;
			line-height: 1.5;
		}
		
		.button {
			font-size: 16px;
			background-color: $gray;
		}
		
		[type="text"] {
			font-family: $font_nimbus;
			font-size: 16px;
			box-shadow: none;
		}
	}
}



#main-aside {
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 88px;
	
	label, legend {
		font-family: $font_nimbus;
		font-size: 20px;
		font-weight: 400;
		line-height: 1.5;
		color: $gray;
		display: block;
		margin-left: 0;
		margin-right: 0;
	}
	
	select {
		width: inherit;
		margin-left: 30px;
		padding-left: 0;
		display: block;
		border: none;
		border-bottom: 1px solid $gray;
		
		&:active {
			box-shadow: none;
		}
		
		option {
			width: 100%;
		}
	}
	
	.ui {
		&.selection {
			&.dropdown {
				min-height: 0;
				width: 100%;
				min-width: 0;
				margin-bottom: 25px;
				padding-left: 20px;
				padding-top: 8px;
				padding-bottom: 8px;
				border: none;
				border-bottom: 1px solid #ccc;
				border-radius: 0;
				
				.menu {
					border-radius: 0;
					
					.item {
						font-family: $font_nimbus;
						font-size: 16px;
						color: #666;
						padding-left: 20px;
					}
				}
				
				.text {
					font-family: $font_nimbus;
					
					&.default {
						font-size: 16px;
						color: $gray;
					}
				}
				
				i {
					font-size: 12px;
					position: absolute;
					right: 16px;
					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
	
	fieldset {
		margin-bottom: 16px;
		
		legend {
			margin-bottom: 0;
		}
	}
	
	.faux {
		position: relative;
		
		[type="radio"] {
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0;
			
			&:checked {
				&+ label {
					background-image: url(../img/icon-faux-input.png);
					background-position: 0 3px;
					background-repeat: no-repeat;
				}
			}
		}
		
		label {
			font-size: 16px;
			background: none;
			padding-left: 20px;
		}
	}
}



.share-navigation {
	margin: 0;
	padding: 0;
	list-style-type: none;
	display: inline-block;
	
	li {
		margin-left: 15px;
		margin-right: 15px;
		float: left;
		
		&:first-child {
			margin-left: 0;
		}
		
		&:last-child {
			margin-right: 0;
		}
		
		a {
			color: $white;
		}
	} 
}



.cta {
	font-family: $font_nimbus;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	display: inline-block;
	border-radius: 4px;
	cursor: pointer;
}



.hero-image {
	background-color: #f2f2f2;
	height: 100vh;
	margin-bottom: 80px !important;
	padding-top: 80px;
	display: flex;
	flex-direction: column;
	position: relative;
  
	.background-image {
		background-color: #ccc;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		flex: 1;
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-content: center;
	}
	
	p {
		font-family: $font_raleway;
		font-size: 60px;
		font-weight: 100;
		color: $white;
		text-align: center;
	}
	
	.bar {
		width: 100%;
		display: block;
		position: absolute;
		left: 0;
		bottom: 26px;
		
		p {
			font-family: $font_nimbus;
			font-size: 14px;
			font-weight: 400;
			text-align: left;
			margin-bottom: 0;
		}
	}
}



.content {
	margin-bottom: 64px;
	border-top: 1px solid #f5f5f5;
	
	h2 {
		font-size: 32px;
		font-weight: 400;
		margin-top: -11px;
		margin-bottom: 15px;
	}
	
	p {
		line-height: 1.5;
		margin-top: 0;
		margin-bottom: 19px;
		
		&:first-child {
			margin-top: -6px;
		}
		
		&:only-child, &:last-child {
			margin-bottom: -7px;
		}
		
		&.lead {
			font-size: 40px;
			line-height: 1.2;
			margin-top: -11px;
			margin-bottom: 13px;
		}
	}
	
	figure {
		margin-bottom: 16px;
		position: relative;
		
		&:only-child, &:last-child {
			margin-bottom: 0 !important;
		}
		
		figcaption {
			font-family:  $font_raleway;
			font-size: 14px;
			color: $white;
			width: 100%;
			padding-left: 15px;
			padding-right: 15px;
			position: absolute;
			left: 0;
			top: 13px;
		}
	}
	
	.cta {
		color: $white;
		background-color: $green;
	}
	
	.icons-detail {
		width: 100%;
		margin: 0;
		margin-top: 6px;
		padding: 0;
		padding-bottom: 6px;
		border-bottom: 2px solid $green;
		list-style-type: none;
		
		@include clearit;
		
		li {
			background-position: left center;
			background-repeat: no-repeat;
			width: 33.3333%;
			padding-left: 34px;
			padding-top: 1px;
			float: left;
			
			&.year {
				background-image: url(../img/icon-detail-year.png);
			}
			
			&.location {
				background-image: url(../img/icon-detail-location.png);
			}
			
			&.typology {
				background-image: url(../img/icon-detail-typology.png);
			}
		}
	}
	
	.detail-navigation {
		width: 100%;
		margin: 0;
		margin-top: 2px;
		padding: 0;
		list-style-type: none;
		
		li {
			background-image: url(../img/icon-detail-navigation.png);
			background-position: right center;
			background-repeat: no-repeat;
			padding-right: 48px;
			margin-left: 10px;
			float: left;
			
			&.is-active {
				a {
					color: $green;
				}
			}
			
			&:first-child {
				margin-left: 0;
			}
			
			&:last-child {
				background: none;
				padding-right: 0;
			}
			
			a {
				font-family: $font_nimbus;
				font-weight: 200;
				font-size: 32px;
				color: rgba($green, 0.6);
				line-height: 1;
			}
		}
	}
}



#about-us {
	background-color: $white;
	width: 100%;
	height: 100vh;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 96px;
	padding-bottom: 16px;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	
	display: none;
	flex-direction: column;
  
	.content {
		background-color: $green;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		margin: 0;
		padding: 0;
		flex: 1;
		
	    display: flex;
	    flex-direction: row;
	    justify-content: center;
	    align-content: center;
	    
	    h2 {
		    color: $white;
		    margin-top: -17px;
	    }
	    
	    p {
		    color: $white;
	    }
	    
	    form {
		    [type="text"], [type="email"], textarea {
			    color: $white;
			    background-color: rgba($white, 0.1);
			    border: none;
			    border-bottom: 1px solid $white;
			    box-shadow: none;
		    }
		    
		    @include placeholder($white);
	    }
	    
	    .cta {
			background-color: $white;
			color: $green;
	    }
	}
}



#timeline {
	margin: 0;
	margin-top: 87px;
	padding: 0;
	display: flex;
	flex-flow: row wrap;
	list-style-type: none;
	
	@include clearit;
	
	li {
		width: auto;
		flex: 1 1 0px;
		
		&:first-child, &:last-child {
			a {
				&:after {
					width: 50%;
				}
			}
		}
		
		&:first-child {
			a {
				&:after {
					left: auto;
					right: 0;	
				}
			}
		}
		
		a {
			font-family: $font_raleway;
			font-size: 20px;
			color: #ccc;
			text-align: center;
			padding-bottom: 8px;
			display: block;
			position: relative;
			
			&:after {
				content: "";
				width: 100%;
				height: 0;
				border-top: 1px solid #ccc;
				position: absolute;
				left: 0;
				right: auto;
				bottom: 0;
			}
			
			&:before {
				content: "";
				width: 0;
				height: 8px;
				border-left: 1px solid #ccc;
				position: absolute;
				left: 50%;
				bottom: 0;
			}
		}
	}
}



#masonry {
	margin-top: 72px;
	
	.item {
		position: relative;
		
		&:after {
			content: "";
			width: 100%;
			height: 100%;
			border: 8px solid $white;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 2;
		}
		
		&.width-1 {
			@include breakpoint(large) {
				width: 16.6666%;
			}
		}
		
		&.width-2 {
			@include breakpoint(large) {
				width: 33.3333%;
			}
		}
		
		p {
			font-family: $font_nimbus;
			color: $white;
			
			&.year {
				font-size: 32px;
				font-weight: 500;
				position: absolute;
				left: 8px;
				top: 2px;
				text-shadow: 0 0 3px rgba(0,0,0,0.2);
				z-index: 3;
			}
		}
		
		img {
			width: auto;
			max-width: 100%;
			position: relative;
			z-index: 1;
		}
		
		.box {
			background-color: rgba($black, 0.3);
			width: calc(100% - 16px);
			padding-left: 10px;
			padding-right: 10px;
			padding-top: 2px;
			padding-bottom: 2px;
			position: absolute;
			left: 8px;
			bottom: 8px;
			z-index: 4;
			
			p {
				font-size: 14px;
				margin-bottom: 0;
			}
		}
	}
}


/* ========== END WEBSITE STYLES ==========  */
}